<div>
  <div class="container main-title mt-3">
    <div class="titulo">
      <h5>Estadisticas Afiliaciones</h5>
    </div>
  </div>
 
     <div class="container mt-3">
      <div class="col-xs-6 col-md-12" style="display: block;">
        <canvas baseChart 
          [data]="pieChartData" 
          [labels]="pieChartLabels" 
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [legend]="pieChartLegend">
        </canvas>
      </div>

      <div class="col-xs-6 col-md-12" style="display: block;">
        <canvas baseChart 
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
      </div>
  </div> 

</div>
